In [15]:
import pandas as pd

In [16]:
df = pd.read_csv('../data/Dados Históricos 2000-2023 - Ibovespa.csv', sep=',', decimal=',',thousands='.')
df

            Data  Último  Abertura  Máxima  Mínima     Vol.    Var%
0     2000-12-27   15186     14805   15223   14805  239,98M   2,65%
1     2000-12-28   15259     15188   15269   15132  324,26M   0,48%
2     2001-01-02   15425     15242   15621   15174  230,63M   1,09%
3     2001-01-03   16599     15425   16599   15251  381,20M   7,61%
4     2001-01-04   16675     16597   16933   16587  331,23M   0,46%
...          ...     ...       ...     ...     ...      ...     ...
5602  2023-08-10   11835    118412  119438  118113   12,69M  -0,05%
5603  2023-08-11  118065     11835  119054  117415   11,87M  -0,24%
5604  2023-08-14   11681    118067  118082   11653   11,20M  -1,06%
5605  2023-08-15  116171    116809  117697  116033   14,64M  -0,55%
5606  2023-08-16  115592    116171  117338  115534   18,86M  -0,50%

[5607 rows x 7 columns]

In [17]:
df.shape

(5607, 7)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5607 entries, 0 to 5606
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Data      5607 non-null   object
 1   Último    5607 non-null   int64
 2   Abertura  5607 non-null   int64
 3   Máxima    5607 non-null   int64
 4   Mínima    5607 non-null   int64
 5   Vol.      5606 non-null   object
 6   Var%      5607 non-null   object
dtypes: int64(4), object(3)
memory usage: 306.8+ KB

In [19]:
#print data mais antiga e mais recente
print("Data mais antiga: ", df['Data'].min())
print("Data mais recente: ", df['Data'].max())

Data mais antiga:  2000-12-27
Data mais recente:  2023-08-16

In [20]:
#crate a new column with the name value that has the same content that the column Último
df['value'] = df['Último']

In [21]:
#change the name of the column Data to date 
df.rename(columns={'Data': 'date'}, inplace=True)

In [22]:
#check only the type of the columns Data and value
df[['date', 'value']].dtypes

date     object
value     int64
dtype: object

In [23]:
df.shape

(5607, 8)

In [24]:
df

            date  Último  Abertura  Máxima  Mínima     Vol.    Var%   value
0     2000-12-27   15186     14805   15223   14805  239,98M   2,65%   15186
1     2000-12-28   15259     15188   15269   15132  324,26M   0,48%   15259
2     2001-01-02   15425     15242   15621   15174  230,63M   1,09%   15425
3     2001-01-03   16599     15425   16599   15251  381,20M   7,61%   16599
4     2001-01-04   16675     16597   16933   16587  331,23M   0,46%   16675
...          ...     ...       ...     ...     ...      ...     ...     ...
5602  2023-08-10   11835    118412  119438  118113   12,69M  -0,05%   11835
5603  2023-08-11  118065     11835  119054  117415   11,87M  -0,24%  118065
5604  2023-08-14   11681    118067  118082   11653   11,20M  -1,06%   11681
5605  2023-08-15  116171    116809  117697  116033   14,64M  -0,55%  116171
5606  2023-08-16  115592    116171  117338  115534   18,86M  -0,50%  115592

[5607 rows x 8 columns]

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5607 entries, 0 to 5606
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      5607 non-null   object
 1   Último    5607 non-null   int64
 2   Abertura  5607 non-null   int64
 3   Máxima    5607 non-null   int64
 4   Mínima    5607 non-null   int64
 5   Vol.      5606 non-null   object
 6   Var%      5607 non-null   object
 7   value     5607 non-null   int64
dtypes: int64(5), object(3)
memory usage: 350.6+ KB

In [26]:
#save the new dataframe in a csv file
df.to_csv('../data/ibovespa.csv', index=False)