In [6]:
import pandas as pd

In [7]:
df = pd.read_csv('../data/Dados Históricos 2000-2023 - Ibovespa.csv', sep=',')
df

            Data   Último  Abertura   Máxima   Mínima     Vol.    Var%
0     2000-12-27   15.186    14.805   15.223   14.805  239,98M   2,65%
1     2000-12-28   15.259    15.188   15.269   15.132  324,26M   0,48%
2     2001-01-02   15.425    15.242   15.621   15.174  230,63M   1,09%
3     2001-01-03   16.599    15.425   16.599   15.251  381,20M   7,61%
4     2001-01-04   16.675    16.597   16.933   16.587  331,23M   0,46%
...          ...      ...       ...      ...      ...      ...     ...
5602  2023-08-10  118.350   118.412  119.438  118.113   12,69M  -0,05%
5603  2023-08-11  118.065   118.350  119.054  117.415   11,87M  -0,24%
5604  2023-08-14  116.810   118.067  118.082  116.530   11,20M  -1,06%
5605  2023-08-15  116.171   116.809  117.697  116.033   14,64M  -0,55%
5606  2023-08-16  115.592   116.171  117.338  115.534   18,86M  -0,50%

[5607 rows x 7 columns]

In [8]:
#print data mais antiga e mais recente
print("Data mais antiga: ", df['Data'].min())
print("Data mais recente: ", df['Data'].max())

Data mais antiga:  2000-12-27
Data mais recente:  2023-08-16

In [9]:
#crate a new column with the name value that has the same content that the column Último
df['value'] = df['Último']

In [10]:
#change the name of the column Data to date 
df.rename(columns={'Data': 'date'}, inplace=True)

In [11]:
#check only the type of the columns Data and value
df[['date', 'value']].dtypes

date      object
value    float64
dtype: object

In [12]:
#save the new dataframe in a csv file
df.to_csv('../data/ibovespa.csv', index=False)