In [1]:
import pandas as pd

In [2]:
path1 = '../data/Dados Históricos 2000-2013 - Ibovespa.csv'
path2 = '../data/Dados Históricos 2013-2023 - Ibovespa.csv'

In [4]:
df1 = pd.read_csv(path1)
df2 = pd.read_csv(path2)

In [7]:
#transformar a coluna data em datetime dia?mes?ano
df1['Data'] = pd.to_datetime(df1['Data'], format='%d.%m.%Y')
print(len(df1['Data'].dt.year.unique().tolist()))
df1['Data'].dt.year.unique().tolist()

13

[2012, 2011, 2010, 2009, 2008, 2007, 2006, 2005, 2004, 2003, 2002, 2001, 2000]

In [8]:
#transformar a coluna data em datetime dia?mes?ano
df2['Data'] = pd.to_datetime(df2['Data'], format='%d.%m.%Y')
print(len(df2['Data'].dt.year.unique().tolist()))
df2['Data'].dt.year.unique().tolist()

11

[2023, 2022, 2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013]

In [14]:
df1.shape

(2974, 7)

In [13]:
df2.shape

(2633, 7)

In [16]:
df1.shape[0] + df2.shape[0]

5607

In [17]:
df3.shape[0]

5607

In [12]:
#concat df1 e df2
df3 = pd.concat([df1,df2])
print(len(df3['Data'].dt.year.unique().tolist()))
sorted(df3['Data'].dt.year.unique().tolist())

24

[2000,
 2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016,
 2017,
 2018,
 2019,
 2020,
 2021,
 2022,
 2023]

In [20]:
df3.sort_values(by='Data', inplace=True)

In [21]:
df3.to_csv('../data/Dados Históricos 2000-2023 - Ibovespa.csv', index=False)

In [23]:
df_merge = pd.read_csv('../data/Dados Históricos 2000-2023 - Ibovespa.csv')
df_merge

            Data   Último  Abertura   Máxima   Mínima     Vol.    Var%
0     2000-12-27   15.186    14.805   15.223   14.805  239,98M   2,65%
1     2000-12-28   15.259    15.188   15.269   15.132  324,26M   0,48%
2     2001-01-02   15.425    15.242   15.621   15.174  230,63M   1,09%
3     2001-01-03   16.599    15.425   16.599   15.251  381,20M   7,61%
4     2001-01-04   16.675    16.597   16.933   16.587  331,23M   0,46%
...          ...      ...       ...      ...      ...      ...     ...
5602  2023-08-10  118.350   118.412  119.438  118.113   12,69M  -0,05%
5603  2023-08-11  118.065   118.350  119.054  117.415   11,87M  -0,24%
5604  2023-08-14  116.810   118.067  118.082  116.530   11,20M  -1,06%
5605  2023-08-15  116.171   116.809  117.697  116.033   14,64M  -0,55%
5606  2023-08-16  115.592   116.171  117.338  115.534   18,86M  -0,50%

[5607 rows x 7 columns]